<!DOCTYPE html>
<html lang="{{sch_getLangHtmlShortCode()}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{sch_translate('app_desc')}}">
    <meta name="author" content="{{sch_translate('app_author')}}">
	@include("schleier/topscript")
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('') }}uploads/app/{{ env('APP_ICON'); }}">
    <title>{{sch_translate('Hinweise')}} | {{sch_translate('app_name_long')}}</title>

    <!-- Material design icons -->
    <link href="{{ url('') }}assets/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{{ url('') }}assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Simcify CSS -->
    <link href="{{ url('') }}assets/css/simcify.min.css" rel="stylesheet">

    <!-- Landa CSS -->
    <link href="{{ url('') }}assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    @include("includes/sidebar")

    <!-- header -->
    @include("includes/header")

    <!-- main content -->
    <div class="main-content">
        <div class="page-header">
          <a href="{{url('')}}createnote/{{$notetype}}/0">
            <button class="btn btn-sm btn-secondary pull-right text-white ml-5"><i class=" mdi fa fa-plus mr-2"></i> {{sch_translate('Hinweis Hinzufuegen')}}</button>            
          </a>
          <a href="{{url('')}}viewcomplexnote/{{$notetype}}">
            <button class="btn btn-sm btn-warning pull-right text-white ml-5"><i class=" mdi fa fa-eye mr-2"></i> {{sch_translate('Vorschau Ansehen')}}</button>            
          </a>
          <h3>{{$title}}</h3>
          <p>{{sch_translate('manage_view')}}</p>
        </div>


        <!-- page content -->
        <div class="row">            
          <!-- deleted -->
          @if(isset($_GET["deleted"]))
          <div class="col-12"> 
            <div class="card">    
              <h5 class="text-success">
                {{sch_translate('Hinweis wurde erfolgreich geloescht')}}
              </h5>
            </div>
          </div>
          @endif
          <!-- deleted -->
          <!-- saved -->
          @if(isset($_GET["saved"]))
          <div class="col-12"> 
            <div class="card">    
              <h5 class="text-success">
                {{sch_translate('Hinweis gespeichert')}}
              </h5>
            </div>
          </div>
          @endif
          <!-- saved -->
            @if(!empty($notes_collections))
            @foreach($notes_collections as $notes_collection)
            <!-- header -->
            <div class="col-12"> 
              <div class="card mb-1">  
                <div class="row">
                  <div class="col-6">
                    <h5 class="text-success d-inline">
                      {{$notes_collection->name}}
                    </h5>
                  </div> 
                  <div class="col-6">
                    <div class="pull-right">
                      <a href="{{url('')}}createnote/{{$notes_collection->notetype}}/{{$notes_collection->id}}" class="btn btn-sm btn-primary px-2 py-1">
                        <i class="fa fa-plus"></i> {{sch_translate("to_group_adden")}}
                      <a href="{{url('')}}editnote/{{$notes_collection->notetype}}/{{$notes_collection->id}}" class="ml-1 text-muted btn btn-sm btn-outline-dark">
                          <i class="fa fa-pen"></i>
                      </a>
                      <a href="{{url('')}}deletenote/{{$notes_collection->notetype}}/{{$notes_collection->id}}" class="ml-1 text-danger btn btn-sm btn-outline-danger">
                        <i class="fa fa-trash"></i>
                      </a> 
                      </a>                       
                    </div> 
                  </div> 
                </div> 
              </div>
            </div>
            <!-- header -->
            <!-- note -->
            @if(!empty($notes_collection->notes))
            <div class="col-12">
                <div class="card mt-0">
                  <div class="row">
                    <div class="col-4">

                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      @foreach($notes_collection->notes as $index => $note)
                        <a class="nav-link @if($index==0) active @endif" id="v-pills-{{$notes_collection->notetype}}-{{$index}}" data-toggle="pill" href="#v-pills-{{$notes_collection->notetype}}-{{$index}}-content" role="tab" aria-controls="v-pills-home" aria-selected="true">{{$note->name}}</a>
                      @endforeach
                      </div>

                    </div>
                    <div class="col-8">
                      <div class="tab-content" id="v-pills-tabContent">
                      @foreach($notes_collection->notes as $index => $note)
                        <div class="tab-pane fade @if($index==0) show active @endif" id="v-pills-{{$notes_collection->notetype}}-{{$index}}-content" role="tabpanel" aria-labelledby="v-pills-{{$notes_collection->notetype}}-{{$index}}">
                          <div class="row">
                            <div class="col-9">
                              <a href="{{url('')}}editnote/{{$notes_collection->notetype}}/{{$note->id}}" class="text-dark">
                                <h5 class="@if(strtolower(trim($note->name)) == 'hinweise') text-danger @endif">{{$note->name}}</h5>
                              </a>                             
                            </div>
                            <div class="col-3 text-right">
                              <a href="{{url('')}}editnote/{{$notes_collection->notetype}}/{{$note->id}}" class="text-muted pr-1">
                                  <i class="fa fa-pen"></i>
                              </a>
                              <a href="{{url('')}}deletenote/{{$notes_collection->notetype}}/{{$note->id}}" class="text-danger pr-0">
                                <i class="fa fa-trash"></i>
                              </a>                             
                            </div>
                          </div>

                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{sch_translate("hinweise")}}</th>
                                <th scope="col"><!-- editbuttons --></th>
                              </tr>
                            </thead>
                            <tbody>
                              @foreach($note->notes as $note_index => $note_content)
                              <tr>
                                <th scope="row">{{$note_index + 1 }}</th>
                                <td>
                                  <a href="{{url('')}}editnote/{{$notes_collection->notetype}}/{{$note_content->id}}" class="text-success">
                                    <h6>{{ $note_content->hinweis}}</h6>
                                  </a>
                                </td>
                                <td class="text-right">
                                  <a href="{{url('')}}editnote/{{$notes_collection->notetype}}/{{$note_content->id}}" class="text-muted pr-1">
                                      <i class="fa fa-pen"></i>
                                  </a>
                                  <a href="{{url('')}}deletenote/{{$notes_collection->notetype}}/{{$note_content->id}}" class="text-danger pr-0"><i class="fa fa-trash"></i>
                                  </a>   
                                </td>
                              </tr>
                              @endforeach
                            </tbody>
                          </table>
                          <a href="{{url('')}}createnote/{{$notetype}}/{{$note->id}}" class="btn btn-sm btn-secondary px-2 py-1 pull-right">
                            <i class="fa fa-plus"></i> {{sch_translate("to_group_adden_with_var", [$note->name])}}
                          </a>
                        </div>
                      @endforeach  
                      </div>                    
                    </div>
                  </div>
                </div>
            </div>
            @else<!-- !empty $notes_collection -->
            <div class="col-md-12">
                <div class="card empty mt-1">
                    <i class="mdi mdi-alert-circle-outline"></i>
                    <h3>{{sch_translate('empty_here_in', [$notes_collection->name])}}</h3>
                </div>
            </div>
            @endif<!-- !empty $notes_collection -->
            @endforeach
            @endif 
        </div> <!-- row -->
    </div>

    <!-- footer -->
    @include("includes/footer")


   <script src="{{ url('') }}assets/js/jquery-3.3.1.min.js"></script>
   <script src="{{ url('') }}assets/js/popper.min.js"></script>
   <script src="{{ url('') }}assets/libs/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{ url('') }}assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="{{ url('') }}assets/js/simcify.min.js"></script>
   <script src="{{ url('') }}assets/js/app.js"></script>
   @include("schleier/bottomscript")
</body>
</html>