<?php
  $fuehrerschein_class_1_array = ["", "A", "A1", "A2", "AM"];
  $fuehrerschein_class_2_array = ["", "B", "B96", "BE", "C", "C1", "C1E", "CE"];
  $fuehrerschein_class_3_array = ["", "D", "DE", "D1", "D1E", "L", "T"];

  $fuehrerschein_class_all_array = ["", "A", "A1", "A2", "AM", "B", "B96", "BE", "C", "C1", "C1E", "CE", "D", "DE", "D1", "D1E", "L", "T"];
  
  $fahrpruefung_languages = ["Englisch", "Deutsch", "Franzoesisch", "Griechisch", "Italienisch", "Polnisch", "Portugiesisch", "Rumaenisch", "Russisch", "Kroatisch", "Spanisch", "Tuerkisch", "arabisch_hocharabisch"];
?>
<!-- modals -->
<div class="modal right fade" id="create" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
        <h4 class="modal-title" id="myModalLabel2">{{sch_translate('add_student')}}</h4>
      </div>

      <div class="modal-body">
        <form class="simcy-form" data-parsley-validate="" action="{{ url('Student@create') }}" method="POST" loader="true" id="add_student">
          
          <!-- <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('Karteikennung')}}</label>
                <select class="form-control"name="karteikennung" required="">
                  <option value="Male">{{sch_translate('male')}}</option>
                  <option value="Female">{{sch_translate('female')}}</option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="mb-5 mr-3 w-100">
              <p class="float-left ml-3">Status</p>
              <label class="switch float-right">
                 <input type="checkbox" name="student_status" id="student_status" value="Active" checked>
                 <span class="slider round"></span>
              </label>
            </div>
          </div>
          
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('Anrede')}}</label>
                <select class="form-control" name="title" required="">
                  <option value="Mr">{{sch_translate('mr')}}</option>
                  <option value="Mrs">{{sch_translate('mrs')}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('first_name')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('first_name')}}" name="fname" required="">
                <input type="hidden" value="{{csrf_token()}}" name="csrf-token">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('last_name')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('last_name')}}" name="lname" required="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('street_nr')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('street_nr')}}" name="street_nr" required="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('plz_ort')}}</label>
                <div class="row">
                  <div class="col-5 pr-0">
                    <input type="number" class="form-control" placeholder="{{sch_translate('plz')}}" name="plz" required="">
                  </div>
                  <div class="col-7">
                    <input type="text" class="form-control" placeholder="{{sch_translate('ort')}}" name="ort" required="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('email_address')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('email_address')}}" name="email" required="">
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <div class="row hide-parsley">
              <div class="col-12">
                <label>{{sch_translate('phone_number')}}</label>
              </div>
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-plus"></i></span>
                  </div>
                <input type="number" class="form-control" placeholder="{{sch_translate('phone_number')}}" name="phone" required="">
                </div>
              </div>
            </div>
          </div> -->

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('phone_number')}}</label>
                <input type="number" class="form-control" placeholder="{{sch_translate('phone_number')}}" name="phone" required>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('gender')}}</label>
                <select class="form-control"name="gender" required="">
<!--                   <option>{{sch_translate('select_gender')}}</option> -->
                  <option value="Male">{{sch_translate('male')}}</option>
                  <option value="Female">{{sch_translate('female')}}</option>
                </select>
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('course')}}</label>
                <div class="newcourseDiv">
                    <select class="form-control select2" name="newcourse" requiredSelect2>
                      <option value="">{{sch_translate('select_course')}}</option>
                      @foreach($courses as $course)
                      <option value="{{$course->id}}">{{$course->name}} ( ${{$course->price }} )</option>
                      @endforeach
                    </select>
                </div>
                <ul class="parsley-errors-list filled newcourseUl d-none">
                  <li class="parsley-required">{{sch_translate('this_value_is_required')}}</li>
                </ul>
              </div>
            </div>
          </div> -->

          <div class="form-group newamount" style="display: none;">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('amount_paid')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('amount_paid')}}" value="0" name="amountpaid" id="amountpaid" oninput="this.value = this.value.replace(/[^0-9,]/g, '').replace(/(\..*)\./g, '$1');" />
              </div>
            </div>
          </div>

          <div class="form-group newmethod" style="display: none;">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('method_of_payment')}}</label>
                <select class="form-control method" name="method">
                  <option value="Cash">{{sch_translate('cash')}}</option>
                  <option value="Mpesa">{{sch_translate('mpesa')}}</option>
                  <option value="Paypal">{{sch_translate('paypal')}}</option>
                  <option value="Card">{{sch_translate('card')}}</option>
                  <option value="Other">{{sch_translate('other')}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('job')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('job')}}" name="job" required="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('Staatsangehoerigkeit')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('Staatsangehoerigkeit')}}" name="nationality" required="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('Ausweis-Nr')}}</label>
                <input type="text" class="form-control" placeholder="{{sch_translate('Ausweis-Nr')}}" name="ausweis_nr" required="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('language')}}</label>
                <select class="form-control"name="language" required="">
                  @foreach($fahrpruefung_languages as $fahrpruefung_language)
                    <option value="{{$fahrpruefung_language}}">{{sch_translate($fahrpruefung_language)}}</option>
                  @endforeach
                </select>
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label for="email">{{sch_translate('Preisliste')}}</label>
                <select class="form-control"name="preisliste" required="">
                  <option value="Male">{{sch_translate('male')}}</option>
                  <option value="Female">{{sch_translate('female')}}</option>
                </select>
              </div>
            </div>
          </div> -->

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label for="email">{{sch_translate('Standort')}}</label>
                <select class="form-control"name="branch" required="">
                  <option disabled="">{{sch_translate('select_branch')}}</option>
                  @if(!empty($branches))
                  @foreach($branches as $branch)
                      <option value="{{$branch->id}}">{{$branch->name}}</option>
                  @endforeach
                  @endif
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label>{{sch_translate('Anmeldedatum')}}</label>
                <input type="text" class="form-control datepickerx" data-date-format="dd-mm-yyyy"  placeholder="{{sch_translate('Anmeldedatum')}}" data-date-format="dd-mm-yyyy" name="anmeldedatum" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label for="email">{{sch_translate('fuehrerschein_class')}}</label>
                <div class="row">
                  <div class="col-4">
                    <select class="form-control" name="fuehrerschein_class_1">
                      @foreach($fuehrerschein_class_all_array as $fuehrerschein_class_1)
                        <option value="{{$fuehrerschein_class_1}}">{{$fuehrerschein_class_1}}</option>
                      @endforeach
                    </select>
                  </div>
                  <div class="col-4">
                    <select class="form-control" name="fuehrerschein_class_2">
                      @foreach($fuehrerschein_class_all_array as $fuehrerschein_class_2)
                        <option value="{{$fuehrerschein_class_2}}">{{$fuehrerschein_class_2}}</option>
                      @endforeach
                    </select>
                  </div>
                  <div class="col-4">
                    <select class="form-control" name="fuehrerschein_class_3">
                      @foreach($fuehrerschein_class_all_array as $fuehrerschein_class_3)
                        <option value="{{$fuehrerschein_class_3}}">{{$fuehrerschein_class_3}}</option>
                      @endforeach
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-8">
                    <label>{{sch_translate('Erteilungsart')}}</label>
                    <select class="form-control"name="erteilungsart" required="">
                      <option value="ersterwerb">{{sch_translate('Ersterwerb')}}</option>
                      <option value="erweiterung">{{sch_translate('Erweiterung')}}</option>
                    </select>
                  </div>
                  <div class="col-4 pl-0">
                    <label>bF17</label>
                    <select class="form-control"name="bF17" required="">
                      <option value="yes">{{sch_translate('yes')}}</option>
                      <option value="no">{{sch_translate('no')}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row mt-md-5">
              <div class="col-md-12">
                <button class="btn btn-red btn-block" type="submit" id="createStudent">{{sch_translate('create_account')}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->