<script type="text/javascript" src="{{url('')}}assets/libs/fontawesome/js/all.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{url('')}}assets/libs/fontawesome/css/all.min.css">
<script type="text/javascript" src="{{url('')}}assets/fahrschulecem/js/custom.js"></script>
<script type="text/javascript" src="{{url('')}}schleier/assets/js/schleier.js"></script>
<link rel="stylesheet" type="text/css" href="{{url('')}}assets/fahrschulecem/css/custom.css">
<link rel="stylesheet" type="text/css" href="{{url('')}}schleier/assets/css/schleier.css">
<!-- <script type="text/javascript" src="{{env('APP_URL')}}/schleier/assets/js/schleier.js"></script>
<link rel="stylesheet" type="text/css" href="{{env('APP_URL')}}/schleier/assets/css/schleier.css"> -->